p {
    margin-left: 20px;
}

.anchor1 {
    text-decoration: none;
}

a:hover.anchor1 {
    color: green;
    text-decoration: underline;
}

.anchor2 {
    color: red;
}

a:hover.anchor2 {
    color: blue;
    text-decoration: line-through;
}

.anchor3 {
    text-decoration: none;
    color: black;
}

a:hover.anchor3 {
    color: red;
    text-decoration: overline;
}